profiles {
    standard {
        process.executor = 'local'
        process.cpus = 2
    }
    
    // will use this if nexflow is used with singularity container
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        process.container      = "${projectDir}/../singularity/clinical_pipeline.sif"
    }
}

manifest {
    name            = 'clinical_genomics_nextflow'
    author          = 'Eiesha Asif'
    description     = 'Nextflow pipeline for Clair3 Variant Calling'
    mainScript      = 'main.nf'
    version         = '2.0.0'
}