manifest {
    name            = 'fastq-to-clair3-pipeline'
    author          = 'Your Name'
    description     = 'End-to-end pipeline from raw FASTQ to Clair3 Variant Calling'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.5'
    version         = '1.1.0'
}

profiles {
    standard {
        process.executor = 'local'
    }
}
